:root {
  --primary: #497573;
  --secondary: #99f7f2;
  --tertiary: #b2c2c1;
  --quatrinary: #cadbda;
  --light: #e1f5f4;
  --dark: #6c7575;
}

html, body {
  background-color: var(--tertiary);
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-bottom: 3rem;
}

footer {
  position: fixed;
  bottom: 0;
}

.headshot {
  height: 15rem;
  width: 15rem;
  /* display: flex; */
  margin-left: 2rem;
  margin-right: 10px;
  margin-top: 2rem;
  margin-bottom: 0;
  border: var(--primary) 5px solid;
  float: left;
}

.about {
  font-size: 2rem;
  /* display: flex; */
  text-align: left;
  line-height: 3.5rem;
  margin-left: 1rem;
  padding-left: 5px;
  color: var(--primary);
}

.about-div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: var(--primary);
}

.nav-list {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary);
}

.nav-item {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--light);
  margin: .5rem;
  border-bottom: var(--primary) 4px solid;
}

.nav-div {
  margin: .5rem;
  width: 33%;
  text-align: center;
}

.nav-item:hover {
  color: var(--light);
  border-bottom: var(--light) 4px solid;
}

.nav-item::selection {
  color: var(--quatrinary);
}

.section-header {
  text-align: center;
  background-color: var(--primary);
  color: var(--quatrinary);
  padding: 1rem;
  margin: 0;
  border-top: var(--light) 3px solid;
  font-size: 3rem;
}

.works-img {
  width: 32rem;
  height: 18rem;
  opacity: 90%;
  border-radius: 10px;
}

.works-img:hover {
  opacity: 100%;
}

.works-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work {
  height: 50%;
  width: 50%;
}

h2 {
  text-align: center;
}


.github { 
  height: 18px;
  align-self: center;
}

.github:hover {
  opacity: 75%;
}

.blurb {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--dark);
}


.center {
  display: flex;
  justify-content: center;
}

.work-header {
  color: var(--primary);
}

.link-logo {
  height: 5rem;
}

.link-logo:hover {
  opacity: 80%;
}

.resume-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary);
}

.link-div {
  margin-top: 4%
}

.skills-div {
  display: flex;
  justify-content: space-around;
}

/* .front {
  margin: auto;
}

.back {
  margin: auto;
} */



.footcopy {
  margin-top: 1rem;
  margin-right: 1rem;
  /* margin-left: auto; */
  display: flex;
}

.footlogo {
  height: 2rem;
  margin-top: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footlogo:hover {
  opacity: 50%;
}

.footlinks {
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: auto;
}

.skillHeader {
  font-size: 3rem;
  color: var(--primary);
}

h3 {
  font-size: 2rem;
  color: var(--primary);
}

li {
  font-size: 1.5rem;
  color: var(--primary);
}

